.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 2px;
  font-style: normal;
}
    .common {
        height: 30px;
        border: none;
        cursor: pointer;
    }

    .requestnow {
        background-color: black;
        color: white;
        width: 100px;
        border-color: yellow;
        border-radius: 3px;
    }

    .addtothecart {
        background-color: yellow;
        color: black;
        border-color: white;
        width: 110px;
        border-radius: 23px;
        margin-left: 10px;
        transition: opacity 1s, background-color 1s, color 1s, box-shadow 2s;
        
    }

    .addtothecart:hover {
        opacity: 0.6;
        background-color: black;
        color: yellow;
        box-shadow: 10px 10px 10px red;
    }

    .Signup {
        margin-left: 10px;
        background-color: green;
        color: white;
        border-radius: 5px;
        width: 80px;
        font-weight: bold;
        margin-bottom: 10px;
    }